.MessageContent {
    margin: 15px;
}

.messageSwitch {
    width: 25vw;
    height: 50px;
    border: 0px;
    background-color: white;
    font-size: 20px;
    color: #409eff;
}

.notSelected {
    background-color: #030f62;
}